.ipynb_checkpoints/toronto_neighborhoods_geo-checkpoint.ipynb
.ipynb_checkpoints/Coursera Capstone Project-checkpoint.ipynb
.ipynb_checkpoints/toronto_neighborhoods-checkpoint.ipynb
.ipynb_checkpoints/toronto_neighborhoods_viz-checkpoint.ipynb
City_Clerk_Neighborhoods.geojson
.ipynb_checkpoints/toronto_neighborhoods-checkpoint.ipynb
